@import '../../../node_modules/antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.analysis-container{
  .gender-pie{
    width: 80%;
  }
  .age-distribute-container{
    width: 80%;
  }
  .state-distribute{
    width: 80%;
    .antd-pro-charts-pie-legend{
      min-width: 300px;
    }
  }
}

